name: Java CI

on:
    push:
        branches:
            - 'main'

jobs:
    build:
        runs-on: ubuntu-latest
        if: |
            !contains(github.event.head_commit.message, '[ci skip]')
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
            -   name: Set up JDK 17
                uses: actions/setup-java@v3
                with:
                    distribution: 'temurin'
                    java-version: '17'
                    cache: gradle
            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew
            -   name: Validate Gradle Wrapper
                uses: gradle/wrapper-validation-action@v1
            -   name: Build and Publish with Gradle
                uses: gradle/gradle-build-action@v2
                env:
                    MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}
                    SAPS_TOKEN: ${{ secrets.SAPS_TOKEN }}
                with:
                    arguments: build -x test publish --stacktrace --no-daemon